body, html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
  font-family: "Libre Franklin", sans-serif;
  color: green;
}
.parent {
  position: absolute; top: 0; left: 0;
display: flex;
flex-flow: row wrap;
width: 100vw;
height: 200vh;
grid-template-columns: repeat(7, 10fr);
grid-template-rows: repeat(5, 10fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
color: green;
background-color: lightgreen;
justify-content: space-evenly;
}

.child{
  width: 20vw;
}


/*This tells the browser to account for any border and padding in the values you specify for an element's width and height.*/
* {box-sizing:  border-box;}

.water{
  margin-right: 5px;
display: flex;
flex-direction: column;
gap: 10px;
width: 200px;
height: 20vh;}

  .wblock{
    display: inline-block;
    border-radius: 5px;
    width: 10vh;
    height: 2vh;
    background-color: darkgreen;}


.w1{display: inline-block;
width: 10vh;
height: 2vh;
background-color: darkgreen;}

.w2{display: inline-block;
width: 10vh;
height: 2vh;
background-color: darkgreen;}

.w3{display: inline-block;
width: 10vh;
height: 2vh;
background-color: darkgreen;}

.w1:hover{
  background-color: #66FF0E;
}

.w2:hover{
  background-color: #66FF0E;
}

.w3:hover{
  background-color: #66FF0E;
}
