  .rect {
     background-color: red;
     border-radius: 5%;
     height: 595px;
     width: 595px;
     animation: grow 3s ease infinite alternate;}

     @keyframes grow {
       50% {
          border-radius: 5%;
        }
        100% {
          border-radius: 50%;
        }
     }
