.parent {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;

    width: 100vw;
    overflow: hidden auto;
    border-radius: 1.5rem;
    justify-content: center;

}

.container {
    /* display: inline-block; */
    /* flex-grow: 1; */
    display: flex;
flex-flow: row wrap;
    width: 28%;
    height: 92vh;
padding: 20px;
    overflow: hidden;
    background-color: lightgreen;
    border-radius: 1.5rem;
    justify-content: center;
    align-content: flex-start;
    margin: 5px;
}

.cell-title {
  /* display: inline-block; */
    height: 32vh;
    width: 12vw;
    margin: 5px;
    background-color: green;
    border-radius: 1.5rem;

    height: 20%;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: center;
}


.dot{
  /* display: flex; */
  /* position: absolute; */
  margin: 0 auto;
  /* justify-content: center;
  align-items: center; */
    height: 30%;
    width: 30%;
    background-color: green;
    border-radius: 50%;
    background-color: black;
}

.dot:hover {
  background-color: white;
}
