.parent {
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row;
  
    width: 100vw;
    height: 200vh;
    overflow: hidden auto;
    border-radius: 1.5rem;
    justify-content: center;

}

.container {
    /* display: inline-block; */
    display: flex;
flex-flow: row wrap;
    width: 114vw;
    height: 160vh;
padding: 20px;
    overflow: hidden;
    background-color: lightgreen;
    border-radius: 1.5rem;
}

.cell-title {
  /* display: inline-block; */
    height: 32vh;
    width: 12vw;
    background-color: green;
    border-radius: 1.5rem;

    height: 200px;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: center;
}


.dot{
  /* display: flex; */
  /* position: absolute; */
  margin: 0 auto;
  /* justify-content: center;
  align-items: center; */
    height: 5vh;
    width: 5vw;
    background-color: green;
    border-radius: 50%;
    background-color: black;
}

.dot:hover {
  background-color: white;
}
