

body {
  background-color: lavender;
font-family: "Libre Franklin", sans-serif;
}

h1 {
   color: #0D0D0D;
   color: black;
}

h1.entries {
    font-variant: small-caps;
  }


  a:hover {
    font-size:150%;
  }

a {
  color:#0D0D0D;
}

.container {
  height: 300px;
  width: 300px;
  background-color: green;
}

.container2 {
  height: 300px;
  width: 300px;
  background-color: green;
}

.container3 {
  height: 300px;
  width: 300px;
  background-color: green;
}
