
 .rect {
  background-color: red;
  border-radius: 5%;
  height: 595px;
  width: 595px;
  animation: grow 3s ease infinite alternate;}

  @keyframes grow {
      0% {
          transform: scaleX(0.5);
      }
      100% {
          transform: scaleY(2.0);
      }
  }
