html{
  width: 100%;
  height: 100%;
  }


  body{
background-color: #ffffff;

font-family: "Libre Franklin", sans-serif;
  background-size:100%;
  width: inherit;
             height: inherit;
  }

  .parent div{
    display: flex;
  }
.div1{
  display: flex;
}
.div1 h1{
  align-items: stretch;
}


  .parent {
display: grid;
grid-template-columns: repeat(7, 1fr);
grid-template-rows: repeat(7, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
/* font-size: 1vw; */
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.div1 { grid-area: 1 / 2 / 2 / 8; }
.div2 { grid-area: 1 / 1 / 8 / 2; }
.div3 { grid-area: 7 / 2 / 8 / 7; }
.div4 { grid-area: 2 / 7 / 8 / 8; }
.div5 { grid-area: 2 / 2 / 3 / 7; }
.div6 { grid-area: 3 / 2 / 7 / 3; }
.div7 { grid-area: 6 / 3 / 7 / 7; }
.div8 { grid-area: 3 / 6 / 6 / 7; }
.div9 { grid-area: 3 / 3 / 4 / 6; }
.div10 { grid-area: 4 / 3 / 6 / 4; }
.div11 { grid-area: 4 / 4 / 6 / 6; }



@media screen and (max-width: 320px) {
  body {
    font-size: 1vw;
  }
.div1{
  max-width: 50px;
  font-size: 8vw;
  line-height: 10px;
}
  .div2{
    max-width: 50px;
    font-size: 2vw;
    line-height: 5px;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: green;
    font-size: 1vw;

  }

  .div2{
    max-width: 40px;
    font-size: 2vw;
    line-height: 37px;
}
.div4{
  max-width: 40px;
  font-size: 2vw;
  line-height: 12px;
}

.div6{
  max-width: 40px;
  font-size: 3vw;
  line-height: 20px;
}

.div8{
  max-width: 10px;
  font-size: 2vw;
  line-height: 22px;
}

.div10{
  max-width: 10px;
  font-size: 2vw;
  line-height: 15px;
}
}

@media screen and (max-width: 768px) {
  body {
    background-color: green;
    font-size: 1vw;
  }
  .div2{
    max-width: 40px;
    font-size: 2vw;
    line-height: 37px;
}
.div4{
  max-width: 40px;
  font-size: 2vw;
  line-height: 12px;
}

.div6{
  max-width: 40px;
  font-size: 3vw;
  line-height: 20px;
}

.div8{
  max-width: 10px;
  font-size: 2vw;
  line-height: 22px;
}

.div10{
  max-width: 10px;
  font-size: 2vw;
  line-height: 15px;
}

}


}
